<h1>CredditUrl#index</h1>
<% unless @posts.empty? %>
<table>
<% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.title, post.posted_url %></td>
    <td><%= post.user.email %></td>
  </tr>
<% end %>
</table>
<% else %>
    <p>No Posts</p>
<% end %>
