<% content_for :page_load do %>
    <script>
	$(function() {
		$( "#tabs" ).tabs();
	});
	</script>
<%end%>

<% if user_signed_in? %>
  <%= link_to "Submit a link", new_creddit_url_path %>
<% end %>

<div id="tabs">
    <ul>
      <li><a href="#tab-1">Whats hot</a></li>
      <li><a href="#tab-2">Whats new</a></li>

    </ul>
  <div id="tab-1">
    <p>Hot posts should be shown here based on some ranking.</p>
  </div>
  <div id="tab-2">
    <% unless @creddit_urls.empty? %>
    <table>
    <% @creddit_urls.each do |post| %>
      <tr>
        <td><%= link_to post.title, post.posted_url %></td>
        <td><%= post.user.email %></td>
      </tr>
    <% end %>
    </table>
    <% else %>
        <p>No Posts</p>
    <% end %>
  </div>
</div>
