<% content_for :page_load do %>
    <script>
	$(function() {
		$( "#tabs" ).tabs();
	});
	</script>
<%end%>
<div id="tabs">
    <ul>
      <li><a href="#tab-1">Whats hot</a></li>
      <li><a href="#tab-2">Whats new</a></li>

    </ul>
  <div id="tab-1">
    <p>Hot posts should be shown here based on some ranking.</p>
  </div>
  <div id="tab-2">
    <% unless @posts.empty? %>
    <table>
    <% @posts.each do |post| %>
      <tr class="post">
        <td><%= link_to post.title, post.posted_url %></td>
        <td><%= post.user.email %></td>
        <td>
          <%= link_to image_tag("up-arrow.png", :size => "20x20"), "#", :class => "up-vote" %>
          <%= link_to image_tag("down-arrow.png", :size => "20x20"), "#", :class => "down-vote" %>
        </td>
      </tr>
    <% end %>
    </table>
    <% else %>
        <p>No Posts</p>
    <% end %>
  </div>
</div>
